.wrapper {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.category_panel {
  display: flex;
  justify-content: center;
}
