.argumentPanel {
  //add a border
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 25px 0;
  padding: 0 15px;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.argumentTitle {
  color: var(--main-color);
}

.argument-main {
  width: 80%;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
